body, html
{
    margin: 0; 
    height: 100%;
    width: 100%;
}
#main-layout, .blackBackground{
    background-color:#000000
}
.blackHeader{
    background-color:#000000;
    color: #35B3E6
}

h1, h2
{
    text-align: center;
    color: #35B3E6
}

h4
{
    text-align: left;
    padding-left: 10px;
    color: #35B3E6
}

h3
{
    text-align: center;
    color: white
}

#time-run-facebook-result, #distance-run-facebook-result
{
    text-align: center;
    padding-left: 10px;
    color: #35B3E6;
    font-size:15px;
    margin-top:20px;
    line-height:30px;
}


.weldone-message
{
    text-align: center;
    color: #FF0084;
    font-size: 35px;
    line-height: 50px;
    padding-top: 50px;
}

.intervals-result
{
    color: #FF0084;
    font-size: 35px;
}

#result-time h2, #distance-result-time h2
{
    color: #FF0084;
}

td, th
{
    text-align: center;
}

.play-intervals-phase-table td h2, .play-intervals-time-left-table td h2
{
    text-align: left;
}

.play-intervals-phase-table .intervals-result 
{
    text-align: right;
    margin-bottom: 3px;
}

#time-left-holder-div
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#time-left-holder-div h1, h2
{
    text-align: center
}
#time-left-holder-div h1
{
    padding-bottom: 0px;
    margin-bottom: 0px
}
#time-left-holder-div h2
{
    font-size: 180px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
}

#results, #distance-results 
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 50px;
}

#table-results, #distance-table-results  
{
    width: 100%;
    margin-top: 50px;
}

#current-distance td, #distance-current-distance td
{
    text-align: left;
    color: #FF0084;
    padding-left: 5px;
    padding-bottom: 20px;
    font-size: 20px;
}

#results td, #distance-results td
{
    text-align: left;
    color: #FF0084;
    padding-left: 5px;
    padding-bottom: 15px;
    font-size: 15px;
}

.inputBoxHolder
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 5px;
}

.tdLabel{
    font-size:15px;
    color: #35B3E6;
    }
input
{
    width:160px;
    height: 3em;
    margin-bottom: 10px;
    margin-left:5px;
    font-size:15px;
    font-weight:bold;
    display:inline;
}

.touchSurface
{
    width: 100%;
    text-align: center;
    height: 3.5em;
    /*background-color: #35B3E6;*/
    border-style: none;
    border-radius: 5px;
    background: #1e5799;
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
    background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
}
#additionalData{
    height:150px;
    position:relative;
}
#timerun-enter-valid-data-message{
    position:absolute;
    top:5px;
    height:50px;
    font-size:15px;
    width:100%;
    text-align:center;
    color:#FF0084;
}
#time-run-button-start-button-holder
{
    position:absolute;
    top:85px;
    left:15px;
}
#network-button
{
    margin-top: 20%;
    margin-bottom: 20px;
}
#home-clearstorage-button
{
    margin-bottom: 20px;
}

.content .startButtonHolder
{
    margin-bottom: 20px;
}

#distance-run-button-start-button-holder
{
    margin-top: 59%;
}
#save-current-workout
{
    margin-top: 25px;
}

#share-current-run
{
    margin-top: 25px;
}

#distance-save-current-run
{
    margin-top: 25px;
}

#distance-share-current-run
{
    margin-top: 25px;
}
.startButtonHolder
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#capture-file-holder
{
    margin-top: 20px;
}
.track-distance-holder
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    font:15px;
}
.current-results{
    margin-bottom:20px;
}
.track-distance
{
    width: 100%
}
