<div id="fun-run-view"
     data-id="fun-run-view" 
     data-role="view"  
     data-layout="main-layout"
     data-show="app.funRun.init"
     data-hide="app.funRun.close"
     class="blackBackground"
     >

    <div id="fun-run">
        <h1>Run for fun </h1>

        <div class="track-distance-holder" id="fun-current-distance" data-bind="visible:isVisibleFunRunTrackTable" visible="false">
            <div id="fun-current-result-time" class="current-results">
                <h2 data-bind="text:funStatus"></h2>
            </div>
            <table class="track-distance">
                <tr>
                    <td>Current run distance:</td>
                    <td data-bind="text:funRunDistance"></td>
                </tr>
                <tr>
                    <td>Current speed:</td>
                    <td data-bind="text:funRunSpeed"></td>
                </tr>
                <tr>
                    <td>Current run time:</td>
                    <td data-bind="text:funRunTime"></td>
                </tr>
            </table>
        </div>
        <div class="startButtonHolder" id="fun-run-button-start-button-holder" data-bind="visible:isVisibleFunRunStartButton" visible="true">
            <button class="touchSurface" data-role="touch" data-tap="app.funRun.startRun">
                <h3>START</h3>
            </button>
        </div>

        <div class="startButtonHolder" id="fun-run-button-pause-button-holder" 
             data-bind="visible:isVisibleFunRunPauseButton" visible="false">
            <button class="touchSurface" data-role="touch" data-tap="app.funRun.pauseRun">
                <h3>Pause run</h3>
            </button>
        </div>
        <div class="startButtonHolder" id="fun-run-button-continue-button-holder"
             data-bind="visible:isVisibleFunRunContinueButton" visible="false">
            <button class="touchSurface" data-role="touch" data-tap="app.funRun.continueRun">
                <h3>Countinue run</h3>
            </button>
        </div>
        <div class="startButtonHolder" id="fun-run-button-reset-button-holder"
             data-bind="visible:isVisibleFunRunResetButton" visible="true">
            <button class="touchSurface" data-role="touch" data-tap="app.funRun.resetRun">
                <h3>Reset run</h3>
            </button>
        </div>
        <div class="startButtonHolder" id="fun-run-button-stop-button-holder"
             data-bind="visible:isVisibleFunRunStopButton" visible="false">
            <button class="touchSurface" data-role="touch" data-tap="app.funRun.stopRun">
                <h3>Stop run</h3>
            </button>
        </div>

        <div id="fun-results" data-bind="visible:isVisibleFunrunResults" visible="false">
            
            <div class="startButtonHolder">
                <button class="touchSurface" data-role="touch" data-tap="app.funRun.save" id="fun-save-current-run" >
                    <h3>Save current run</h3>
                </button>
            </div>
            <div class="startButtonHolder" data-bind="visible:isFunRunShareButtonVisible" visible="true">
                <button class="touchSurface" data-role="touch" data-tap="app.funRun.share" id="fun-share-current-run" >
                    <h3>Share current run</h3>
                </button>
            </div>
            <div id="fun-run-facebook-result" data-role="scroller">

            </div>
        </div>
    </div>
</div>

