<div id="fun-run-view"
     data-id="fun-run-view" 
     data-role="view"  
     data-layout="main-layout"
     data-show="app.funRun.init"
     data-hide="app.funRun.close"
     class="blackBackground"
     >

    <div id="fun-run">
        <h1>Run for fun </h1>
        <div class="startButtonHolder" id="fun-run-button-start-button-holder">
            <button class="touchSurface" data-role="touch" data-tap="app.funRun.run">
                <h3>START</h3>
            </button>
        </div>

        <div class="track-distance-holder" id="fun-current-distance" data-bind="visible:isVisibleTrackFunrunTable" visible="false">
            <div id="fun-current-result-time" class="current-results">
                <h2 data-bind="text:funStatus"></h2>
            </div>
            <table class="track-distance">
                <tr>
                    <td>Current run distance</td>
                    <td data-bind="text:funDistance"></td>
                </tr>
                <tr>
                    <td>Current speed</td>
                    <td data-bind="text:funCurrentSpeed"></td>
                </tr>
                <tr>
                    <td>Current run time</td>
                    <td data-bind="text:funCurrentRunTime"></td>
                </tr>
            </table>
            <div class="startButtonHolder" id="fun-run-button-pause-button-holder" 
                data-bind="visible:isVisibleFunrunPauseButton" visible="false">
                <button class="touchSurface" data-role="touch" data-tap="app.funRun.pause">
                    <h3>Pause run</h3>
                </button>
            </div>
            <div class="startButtonHolder" id="fun-run-button-continue-button-holder"
                data-bind="visible:isVisibleFunrunContinueButton" visible="false">
                <button class="touchSurface" data-role="touch" data-tap="app.funRun.continue">
                    <h3>Countinue run</h3>
                </button>
            </div>
            <div class="startButtonHolder" id="fun-run-button-stop-button-holder"
                data-bind="visible:isVisibleFunrunStopButton" visible="false">
                <button class="touchSurface" data-role="touch" data-tap="app.funRun.stop">
                    <h3>Stop run</h3>
                </button>
            </div>
        </div>

        <div id="fun-results" data-bind="visible:isVisibleFunrunResults" visible="false">
            <div id="fun-result-time">
                <h2 data-bind="text:fun-status"></h2>
            </div>
            <table id="funrun-table-results">
                <tr>
                    <td>Run distance:</td>
                    <td id="funrun-distance-result" data-bind="text:distanceResult"></td>
                </tr>
                <tr>
                    <td>Average speed:</td>
                    <td id="funrun-speed-result" data-bind="text:funSpeed"></td>
                </tr>
                <tr>
                    <td>Run time:</td>
                    <td id="funrun-time-result" data-bind="text:currentRunTime"></td>
                </tr>
            </table>

            <div class="startButtonHolder">
                <button class="touchSurface" data-role="touch" data-tap="app.funRun.save" id="fun-save-current-run" >
                    <h3>Save current run</h3>
                </button>
            </div>
            <div class="startButtonHolder" data-bind="visible:isFunrunShareButtonVisible" visible="true">
                <button class="touchSurface" data-role="touch" data-tap="app.funRun.share" id="fun-share-current-run" >
                    <h3>Share current run</h3>
                </button>
            </div>
            <div id="fun-run-facebook-result" data-role="scroller">

            </div>
        </div>
    </div>
</div>

