<div data-role="view" 
     id="history-view" 
     data-id="categories-view"
     data-layout="main-layout" 
     data-show="app.runs.init"
     class="blackBackground">
    <div id="runs-holder">
        <h1>Your recent runs </h1>
        <select id="runs-list" 
                data-role="dropdownlist"
                data-bind="source: runs, events: { change: change, select:change}, invisible:isInvisible"
                data-text-field="runname"
                data-value-field="runname">
        </select>
        <div data-bind="visible:isVisible">
            <h2>No stored Run!</h2>
        </div>
        <div id="selected-run-info" data-bind="visible:isVisibleRunInfo">
            <div id="route-holder" style="margin-top:20px;width:100%;height:200px">
            </div>
            <div class="run-time-history-result">
                <br/>
                <span>Run date: </span><span data-bind="text:runDate"></span><br/>
                <span>Run distance: </span><span data-bind="text:runDistance"></span><br/>
                <span>Run time: </span><span data-bind="text:runTime"></span><br/>
                <span>Аverage speed: </span><span data-bind="text:runSpeed"></span>
                <div id="manage-current-run">
                    <div class="startButtonHolder" id="history-share-current-run" data-bind="visible:isVisibleShareButton">
                        <button class="touchSurface" data-role="touch" data-tap="app.runs.shareCurrentRun" >
                            <h3>Share current run</h3>
                        </button>
                    </div>
                    <div class="startButtonHolder" id="delete-current-run">
                        <button class="touchSurface" data-role="touch" data-tap="app.runs.deleteCurrentRun" >
                            <h3>Delete current run</h3>
                        </button>
                    </div>
                </div>
                <div id="history-facebook-result"></div>
            </div>
        </div>
    </div>
</div>