<div id="interval-timer-view"
     data-id="interval-timer-view" 
     data-role="view"  
     data-layout="main-layout"
     data-show="app.intervalsApi.init"
     data-hide="app.intervalsApi.close"
    class="blackBackground"
     >

    <div id="interval-timer">
        <h1>Interval Timer </h1>
        <div id="create-intervals-user-data"  class="view-content">
            <h2>Input interval time for your workout </h2>
            <div id="prepare-time" class="inputBoxHolder">
                <input id="variable-intervals-number" type="number" placeholder="Enter number of intervals"/>
            </div>
            <div id="prepare-time" class="inputBoxHolder">
                <input id="variable-prepare-time-input" type="number" placeholder="Enter prepare time in seconds"/>
            </div>
            <div id="work-time" class="inputBoxHolder">
                <input  id="variable-work-time-input"  type="number" placeholder="Enter work time in seconds"/>
            </div>
            <div id="rest-time" class="inputBoxHolder">
                <input  id="variable-rest-time-input" type="number" placeholder="Enter rest time in seconds"/>
            </div>
        </div>
    </div>
    <div class="startButtonHolder">
        <button class="touchSurface"  
                id="start-standard-tabata-button" 
                data-role="touch" 
                data-tap="app.intervalsApi.navigateToPlayIntervalsView">
            <h3>Start Workout</h3>
        </button>
    </div>
</div>